<div class = "row">
    <div class="searchmodal-container">
        
        <img src="assets\images\logo.jpg" style="width:100%;">

        <h1 class = "textStyle">Welcome to Walmart Store!!</h1><br>

        <form name="form">
            <div class="input-group">
                <input size="37" ng-model="searchvm.searchString" type="text"
                       class="form-control" placeholder="Search Products" required/>
                <br/>
            </div>
            <br/>
            <button style = "width:100%" type="submit" class="btn btn-primary" ng-click="searchvm.getSearchResults(searchvm.searchString)">Search</button>
        </form>
        <br/>
    </div>
</div>
